<%- include('header') %>
    <div class="result">
        <% if(error) { %>
            <%= error %>
        <% } else { %>
            <% if(parseFloat(quantidade) > 1)  { %>
                $ <%= quantidade %> dolares na cotação: R$ <%= cotacao %> é igual a: R$ <%= conversao %>!
            <% } else { %>
                $ <%= quantidade %> dolar na cotação: R$ <%= cotacao %> é igual a: R$ <%= conversao %>!
            <% } %>
        <% } %>
    </div>
<%- include('footer') %>